{
    "root": true,
    "extends": "eslint:recommended",
    "parserOptions": {
        "sourceType": "module",
        "ecmaVersion": 2015
    },
    "rules": {
        "linebreak-style": ["error", "unix"],
        "semi": ["error", "always"],

        "no-cond-assign": ["error", "always"],
        "no-var": 1,

        "no-unused-vars": "off",
        "no-console": "off",
        "no-useless-escape": "off"
    },
    "env": {
        "es6": true,
        "node": true
    }
}
